@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/garden.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  cursor: pointer;
  width: 4px;
}

::-webkit-scrollbar-track {
 cursor: pointer;
 background: #999; 
}

::-webkit-scrollbar-thumb {
 cursor: pointer;
 background: #555; 
}

::webkit-scrollbar-thumb:hover {
  background: #242424
}